In [2]:
ruta='C:/4_F5/014_cars/nat_ml_regresion/salidas/'

1. Cargar los datos

In [3]:
import pandas as pd
import os

def load_data_train(file_path):
    """
    Carga los datos del archivo CSV.

    Args:
        file_path (str): Ruta al archivo CSV.

    Returns:
        pd.DataFrame: DataFrame con los datos cargados o None si hay un error.
    """

    # Obtener la ruta absoluta del archivo para evitar problemas con rutas relativas
    abs_file_path = os.path.abspath(file_path)

    # Verificar si el archivo existe en la ruta especificada
    if not os.path.exists(abs_file_path):
        # Imprimir mensajes de error detallados si el archivo no existe
        print(f"Error: El archivo no existe en la ruta: {abs_file_path}")
        print(f"Directorio actual: {os.getcwd()}")  # Mostrar el directorio actual para ayudar a depurar
        print("Contenido del directorio:")
        try:
            # Intentar listar el contenido del directorio para ayudar a identificar el problema
            print(os.listdir(os.path.dirname(abs_file_path)))
        except FileNotFoundError:
            print("El directorio no existe.")  # Informar si el directorio tampoco existe
        return None  # Devolver None para indicar que la carga falló

    try:
        # Intentar cargar los datos utilizando pandas
        df_train = pd.read_csv(abs_file_path)
        print(f"\nDatos de 'train' cargados exitosamente. Shape: {df_train.shape}\n")  # Confirmar la carga exitosa
        return df_train
    except Exception as e:
        # Capturar cualquier excepción que ocurra durante la carga e imprimir un mensaje de error
        print(f"Error al cargar los datos: {e}")
        return None

In [4]:
# Bloque de ejemplo de uso (solo se ejecuta si el script se ejecuta directamente)
if __name__ == "__main__":
    # Obtener la ruta al archivo CSV dentro de la estructura del proyecto
    #script_dir = os.path.dirname(os.path.abspath(__file__)) #sólo sirve cuando es .py porque la variable __file__ no está disponible porque no se está ejecutando un script de Python directamente.
    #project_root = os.path.dirname(os.path.dirname(script_dir))
    #data_path = os.path.join(project_root, "data", "mushrooms.csv") #(project_root,"carpeta","subcarpeta","archivo.csv")
    data_path = data_path = os.path.join(os.getcwd(), "data", "train.csv")

    print(f"Intentando cargar el archivo desde: {data_path}")


    # Llamar a la función load_data para cargar los datos
    
    df_train = load_data_train(data_path)
    if df_train is not None:
        # Imprimir las primeras filas del DataFrame si la carga fue exitosa
        print(df_train.head())
    else:
        # Imprimir un mensaje de error si la carga falló
        print("No se pudieron cargar los datos. Verifica la ruta del archivo y su existencia.")

Intentando cargar el archivo desde: c:\4_F5\014_cars\nat_ml_regresion\data\train.csv

Datos de 'train' cargados exitosamente. Shape: (188533, 13)

   id          brand              model  model_year  milage      fuel_type  \
0   0           MINI      Cooper S Base        2007  213000       Gasoline
1   1        Lincoln              LS V8        2002  143250       Gasoline
2   2      Chevrolet  Silverado 2500 LT        2002  136731  E85 Flex Fuel
3   3        Genesis   G90 5.0 Ultimate        2017   19500       Gasoline
4   4  Mercedes-Benz        Metris Base        2021    7388       Gasoline

                                              engine  \
0       172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1       252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2  320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3       420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4       208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                     transmission ext_col int_col  \
0                             A/T  Yellow    Gray
1                             A/T  Silver   Beige
2                             A/T    Blue    Gray
3  Transmission w/Dual Shift Mode   Black   Black
4                     7-Speed A/T   Black   Beige

                                 accident clean_title  price
0                           None reported         Yes   4200
1  At least 1 accident or damage reported         Yes   4999
2                           None reported         Yes  13900
3                           None reported         Yes  45000
4                           None reported         Yes  97500

Luego debo cargar la parte de 'test' -----> Pendiente

In [5]:
x_train=df_train.drop(['id', 'price'], axis=1)

x_train.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes
1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes

In [6]:
y_train= df_train['price']

2. Examinar las primeras y últimas filas del DataFrame

In [7]:
# Ver las primeras 5 filas
print(x_train.head())

# Ver las últimas 5 filas
print(x_train.tail())

           brand              model  model_year  milage      fuel_type  \
0           MINI      Cooper S Base        2007  213000       Gasoline
1        Lincoln              LS V8        2002  143250       Gasoline
2      Chevrolet  Silverado 2500 LT        2002  136731  E85 Flex Fuel
3        Genesis   G90 5.0 Ultimate        2017   19500       Gasoline
4  Mercedes-Benz        Metris Base        2021    7388       Gasoline

                                              engine  \
0       172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1       252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2  320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3       420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4       208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                     transmission ext_col int_col  \
0                             A/T  Yellow    Gray
1                             A/T  Silver   Beige
2                             A/T    Blue    Gray
3  Transmission w/Dual Shift Mode   Black   Black
4                     7-Speed A/T   Black   Beige

                                 accident clean_title
0                           None reported         Yes
1  At least 1 accident or damage reported         Yes
2                           None reported         Yes
3                           None reported         Yes
4                           None reported         Yes
                brand                     model  model_year  milage fuel_type  \
188528       Cadillac     Escalade ESV Platinum        2017   49000  Gasoline
188529  Mercedes-Benz  AMG C 43 AMG C 43 4MATIC        2018   28600  Gasoline
188530  Mercedes-Benz    AMG GLC 63 Base 4MATIC        2021   13650  Gasoline
188531           Audi          S5 3.0T Prestige        2022   13895  Gasoline
188532        Porsche                Macan Base        2016   59500  Gasoline

                                               engine  \
188528   420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel
188529  385.0HP 3.0L V6 Cylinder Engine Gasoline Fuel
188530   469.0HP 4.0L 8 Cylinder Engine Gasoline Fuel
188531                                           3.0L
188532   252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                          transmission                    ext_col int_col  \
188528  Transmission w/Dual Shift Mode                      White   Beige
188529                     8-Speed A/T                      White   Black
188530                     7-Speed A/T                      White   Black
188531               1-Speed Automatic  Daytona Gray Pearl Effect   Black
188532  Transmission w/Dual Shift Mode                      White   Black

                                      accident clean_title
188528                           None reported         Yes
188529  At least 1 accident or damage reported         Yes
188530                           None reported         Yes
188531                           None reported         NaN
188532                           None reported         Yes

3. Obtener un resumen del DataFrame

El método info() proporciona un resumen del DataFrame, incluyendo el número de filas y columnas, los tipos de datos y la cantidad de valores no nulos. Es útil para detectar valores faltantes y verificar que los tipos de datos sean los esperados.

In [8]:
# Resumen de la estructura del DataFrame
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         188533 non-null  object
 1   model         188533 non-null  object
 2   model_year    188533 non-null  int64
 3   milage        188533 non-null  int64
 4   fuel_type     183450 non-null  object
 5   engine        188533 non-null  object
 6   transmission  188533 non-null  object
 7   ext_col       188533 non-null  object
 8   int_col       188533 non-null  object
 9   accident      186081 non-null  object
 10  clean_title   167114 non-null  object
dtypes: int64(2), object(9)
memory usage: 15.8+ MB
None

4. Estadísticas descriptivas

El método describe() genera estadísticas descriptivas como la media, mediana, desviación estándar, valores mínimos y máximos para las columnas numéricas. Esto es útil para tener una idea de la distribución de los datos.

In [9]:
# Estadísticas descriptivas
print(x_train.describe())

          model_year         milage
count  188533.000000  188533.000000
mean     2015.829998   65705.295174
std         5.660967   49798.158076
min      1974.000000     100.000000
25%      2013.000000   24115.000000
50%      2017.000000   57785.000000
75%      2020.000000   95400.000000
max      2024.000000  405000.000000

In [10]:
# Estadísticas descriptivas para variables categóricas
#Se usa describe(include='object') para ver el recuento y las frecuencias más comunes en esas columnas.
print(x_train.describe(include='object'))

         brand      model fuel_type  \
count   188533     188533    183450
unique      57       1897         7
top       Ford  F-150 XLT  Gasoline
freq     23088       2945    165940

                                              engine transmission ext_col  \
count                                         188533       188533  188533
unique                                          1117           52     319
top     355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel          A/T   Black
freq                                            3462        49904   48658

       int_col       accident clean_title
count   188533         186081      167114
unique     156              2           1
top      Black  None reported         Yes
freq    107674         144514      167114

5. Revisar valores únicos y distribución de categorías

Para variables categóricas, es importante saber cuántas categorías hay y cómo están distribuidas. Usar value_counts() te permite ver la frecuencia de cada categoría.

In [11]:
# Ver cuántas veces aparece cada valor en una columna categórica
print(x_train['engine'].value_counts())

engine
355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel           3462
240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel           2902
420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel           2841
2.0L I4 16V GDI DOHC Turbo                             2680
375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel          2451
                                                       ...
78.0HP 1.2L 3 Cylinder Engine Gasoline Fuel               1
139.0HP 1.6L 4 Cylinder Engine Plug-In Electric/Gas       1
151.0HP 1.5L 4 Cylinder Engine Gas/Electric Hybrid        1
184.0HP 2.4L 4 Cylinder Engine Flex Fuel Capability       1
313.0HP 2.0L 4 Cylinder Engine Plug-In Electric/Gas       1
Name: count, Length: 1117, dtype: int64

6. Identificar valores faltantes (NaN)

Usar isnull() combinado con sum() para contar cuántos valores faltantes hay en cada columna.

Este paso es fundamental para planificar cómo tratar estos valores: eliminarlos, imputarlos o tratarlos de alguna otra manera.

In [12]:
# Contar valores faltantes por columna
count_missings=x_train.isnull().sum()
print(count_missings)

cols_missings=count_missings[x_train.isnull().sum()!=0]
print(f'\nLas columnas con valores missings son:\n{cols_missings}')

brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
dtype: int64

Las columnas con valores missings son:
fuel_type       5083
accident        2452
clean_title    21419
dtype: int64

In [13]:
x_train.isna().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
dtype: int64

In [14]:
x_train.apply(lambda x: x.isnull().sum() + (x == ' ').sum())

brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
dtype: int64

Detectar las variables categóricas ordinales

In [15]:
import pandas as pd


# Función para detectar variables categóricas ordinales
def detectar_variables_ordinales(df):
    ordinal_columns = []

    for column in df.columns:
        # verificar si la columna es numérica
        if pd.api.types.is_numeric_dtype(df[column]):
            # obtener valores únicos
            unique_values = df[column].unique()
            # verificar si todos los valores están en el rango [1,5]
            if set(unique_values).issubset({0, 1, 2, 3, 4, 5}):
                ordinal_columns.append(column)

    
    return ordinal_columns




variables_ordinales = detectar_variables_ordinales(x_train)
print("Variables categóricas ordinales:", variables_ordinales)
rows_with_zero = (x_train[variables_ordinales] == 0).any(axis=1).sum()
print(rows_with_zero)

Variables categóricas ordinales: []
0

Variables categóricas nominales

In [16]:
categorical_cols = x_train.select_dtypes(['object']).columns
""" df_dummies = pd.get_dummies(x_train, columns=categorical_cols)

print(df_dummies) """

print(categorical_cols)
x_categorical=x_train[categorical_cols]
x_categorical.to_csv(ruta+'x_categorical.csv',sep=';')
print(x_train[categorical_cols])

Index(['brand', 'model', 'fuel_type', 'engine', 'transmission', 'ext_col',
       'int_col', 'accident', 'clean_title'],
      dtype='object')
                brand                     model      fuel_type  \
0                MINI             Cooper S Base       Gasoline
1             Lincoln                     LS V8       Gasoline
2           Chevrolet         Silverado 2500 LT  E85 Flex Fuel
3             Genesis          G90 5.0 Ultimate       Gasoline
4       Mercedes-Benz               Metris Base       Gasoline
...               ...                       ...            ...
188528       Cadillac     Escalade ESV Platinum       Gasoline
188529  Mercedes-Benz  AMG C 43 AMG C 43 4MATIC       Gasoline
188530  Mercedes-Benz    AMG GLC 63 Base 4MATIC       Gasoline
188531           Audi          S5 3.0T Prestige       Gasoline
188532        Porsche                Macan Base       Gasoline

                                                   engine  \
0            172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel
1            252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel
2       320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...
3            420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel
4            208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel
...                                                   ...
188528       420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel
188529      385.0HP 3.0L V6 Cylinder Engine Gasoline Fuel
188530       469.0HP 4.0L 8 Cylinder Engine Gasoline Fuel
188531                                               3.0L
188532       252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                          transmission                    ext_col int_col  \
0                                  A/T                     Yellow    Gray
1                                  A/T                     Silver   Beige
2                                  A/T                       Blue    Gray
3       Transmission w/Dual Shift Mode                      Black   Black
4                          7-Speed A/T                      Black   Beige
...                                ...                        ...     ...
188528  Transmission w/Dual Shift Mode                      White   Beige
188529                     8-Speed A/T                      White   Black
188530                     7-Speed A/T                      White   Black
188531               1-Speed Automatic  Daytona Gray Pearl Effect   Black
188532  Transmission w/Dual Shift Mode                      White   Black

                                      accident clean_title
0                                None reported         Yes
1       At least 1 accident or damage reported         Yes
2                                None reported         Yes
3                                None reported         Yes
4                                None reported         Yes
...                                        ...         ...
188528                           None reported         Yes
188529  At least 1 accident or damage reported         Yes
188530                           None reported         Yes
188531                           None reported         NaN
188532                           None reported         Yes

[188533 rows x 9 columns]

Hay columnas que son 'object'.Esto me puede indicar que hay ciertos valores que NO son ni letras ni enteros.

In [17]:
import pandas as pd
import re

def detect_non_alphanumeric_chars(df, columns=None):
    """
    Detecta caracteres que no sean letras ni números en las columnas de un DataFrame.

    Parámetros:
    - df: DataFrame a analizar
    - columns: lista de columnas a analizar (opcional)

    Retorna:
    - Un diccionario con las columnas que contienen caracteres no alfanuméricos y los caracteres encontrados
    """
    if columns is None:
        columns = df.columns

    non_alphanumeric_chars_found = {}

    for col in columns:
        series = df[col]
        pattern = r'[^a-zA-Z0-9]'  # Patrón de búsqueda para caracteres no alfanuméricos
        for value in series:
            if re.search(pattern, str(value)):
                non_alphanumeric_chars_found.setdefault(col, set()).add(re.search(pattern, str(value)).group())

    return non_alphanumeric_chars_found


non_alphanumeric_chars_found = detect_non_alphanumeric_chars(x_train)


df_non_alphanumeric = pd.DataFrame({
    'Column': list(non_alphanumeric_chars_found.keys()),
    'Non-Alphanumeric Characters': [', '.join(map(str, chars)) for chars in non_alphanumeric_chars_found.values()]
})
print(df_non_alphanumeric)

         Column Non-Alphanumeric Characters
0         brand                           -
1         model                     -,  , .
2     fuel_type                     -,  , –
3        engine                     ., –,
4  transmission                  -,  , –, /
5       ext_col                         , –
6       int_col                   , –, ., /
7      accident

In [18]:
for key, value in non_alphanumeric_chars_found.items():
    print(f"{key}: {set(value)}")

brand: {'-'}
model: {'-', ' ', '.'}
fuel_type: {'-', ' ', '–'}
engine: {'.', '–', ' '}
transmission: {'-', ' ', '–', '/'}
ext_col: {' ', '–'}
int_col: {' ', '–', '.', '/'}
accident: {' '}

In [19]:
def count_non_alphanumeric_values(series):
    return sum(1 for value in series if not re.match(r'^[a-zA-Z0-9]+$', str(value)))

# Aplicamos la función a cada columna del DataFrame
result = x_train.apply(count_non_alphanumeric_values)

print(f"Hay caracteres especiales así '/', '–', ' ', '-' en las siguientes {result[result.values!=0].shape[0]} columnas :\n\n{result[result.values!=0]}")

Hay caracteres especiales así '/', '–', ' ', '-' en las siguientes 8 columnas :

brand            19733
model           188043
fuel_type         6723
engine          187855
transmission    177593
ext_col          19408
int_col          12732
accident        186081
dtype: int64

In [20]:
import numpy as np
import re

def count_non_alphanumeric_values(series):
    return sum(1 for value in series if not re.match(r'^[a-zA-Z0-9]+$', str(value)) or pd.isnull(value) or str(value).strip() == '')
# Aplicamos la función a cada columna del DataFrame
result = x_train.apply(count_non_alphanumeric_values)
print(f"Hay caracteres especiales así '/', '–', ' ', '-' y missing en las siguientes {result[result.values!=0].shape[0]} columnas :\n\n{result[result.values!=0]}")

Hay caracteres especiales así '/', '–', ' ', '-' y missing en las siguientes 9 columnas :

brand            19733
model           188043
fuel_type        11806
engine          187855
transmission    177593
ext_col          19408
int_col          12732
accident        188533
clean_title      21419
dtype: int64

In [52]:
count_special_chars = x_categorical.apply(lambda x: ((x.str.contains('[*-/]')))).any(axis=1).sum()
print(f'{count_special_chars:,}')

188,332

In [53]:
count_special_chars_and_missing = x_categorical.apply(lambda x: ((x.str.contains('[*-/]')) | (x.isna()) | (x.eq(' ')))).any(axis=1).sum()
print(f'{count_special_chars_and_missing:,}')

188,332

7. Distribución de las variables

In [21]:
melted_df = pd.melt(x_categorical, var_name='Features', value_name='Categories')
grouped_df = melted_df.groupby(['Features', 'Categories']).size().reset_index(name='count_values')


#machaco la variable
grouped_df['%por_variable']=round((grouped_df['count_values'] / grouped_df.groupby('Features')['count_values'].transform('sum')),2)
print(grouped_df)
grouped_df.to_csv(ruta+'categorias/x_categorial_categories.csv', sep=';')

          Features                              Categories  count_values  \
0         accident  At least 1 accident or damage reported         41567
1         accident                           None reported        144514
2            brand                                   Acura          2282
3            brand                                    Alfa           682
4            brand                                   Aston           238
...            ...                                     ...           ...
3603  transmission                 Single-Speed Fixed Gear            16
3604  transmission           Transmission Overdrive Switch           156
3605  transmission          Transmission w/Dual Shift Mode         19255
3606  transmission                                Variable            66
3607  transmission                                       –            87

      %por_variable
0              0.22
1              0.78
2              0.01
3              0.00
4              0.00
...             ...
3603           0.00
3604           0.00
3605           0.10
3606           0.00
3607           0.00

[3608 rows x 4 columns]

In [22]:
def categories(df):
    """
    Cuenta las categorías por cada columna de un dataframe.

    Parámetros:
        df (pandas.DataFrame): DataFrame que contiene las columnas categóricas.

    Retorna:
        pandas.DataFrame: Dataframe con las columnas como índice y el número de categorías como valores.
    """
    category_counts = {'variable': [], 'num_categories': []}
    for column in df.columns:
        category_counts['variable'].append(column)
        category_counts['num_categories'].append(df[column].nunique())
    return pd.DataFrame(category_counts)

category_counts = categories(x_categorical)
print(category_counts)

       variable  num_categories
0         brand              57
1         model            1897
2     fuel_type               7
3        engine            1117
4  transmission              52
5       ext_col             319
6       int_col             156
7      accident               2
8   clean_title               1

In [23]:
""" # Gráfico de barras
import seaborn as sns
import matplotlib.pyplot as plt
# Crear una figura con múltiples subplots
fig, axs = plt.subplots(nrows=x_categorical.shape[1], ncols=1, figsize=(15, 40))

# Iterar sobre cada variable y crear un gráfico de barras
for i, variable in enumerate(x_categorical.columns):
    sns.countplot(x=variable, data=x_categorical, ax=axs[i])
    axs[i].set_title(f'Distribución de {variable}')
    axs[i].set_xticklabels(axs[i].get_xticklabels(), rotation=90, ha="right")
# Ajustar el layout para que los títulos no se superpongan
plt.tight_layout()

# Mostrar el gráfico
plt.show() """

' # Gráfico de barras\nimport seaborn as sns\nimport matplotlib.pyplot as plt\n# Crear una figura con múltiples subplots\nfig, axs = plt.subplots(nrows=x_categorical.shape[1], ncols=1, figsize=(15, 40))\n\n# Iterar sobre cada variable y crear un gráfico de barras\nfor i, variable in enumerate(x_categorical.columns):\n    sns.countplot(x=variable, data=x_categorical, ax=axs[i])\n    axs[i].set_title(f\'Distribución de {variable}\')\n    axs[i].set_xticklabels(axs[i].get_xticklabels(), rotation=90, ha="right")\n# Ajustar el layout para que los títulos no se superpongan\nplt.tight_layout()\n\n# Mostrar el gráfico\nplt.show() '

In [24]:
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
# Iterar sobre cada variable y crear un gráfico de barras
for variable in x_categorical.columns:
    plt.figure(figsize=(12, 8))
    sns.countplot(x=variable, data=x_categorical, order=x_categorical[variable].value_counts().index, hue_order=x_categorical[variable].value_counts().index[:10])
    plt.title(f'Distribución de {variable}')
    plt.xticks(rotation=60, ha="right")
    plt.tight_layout()
    plt.savefig(ruta+f"graficos/{variable}.png")
    plt.close()

In [26]:
for variable in x_categorical.columns:
    top_categories = x_categorical[variable].value_counts().index[:50]
    filtered_data = x_categorical[x_categorical[variable].isin(top_categories)]
    plt.figure(figsize=(12, 8))
    sns.countplot(x=variable, data=filtered_data,order=filtered_data[variable].value_counts().index)
    plt.title(f'Distribución de {variable}')
    plt.xticks(rotation=60, ha="right")
    plt.tight_layout()
    plt.savefig(ruta+f'{variable}.png')
    plt.close()